.closed-question-tool {
  margin-top: 1rem;
}

.closed-question-tool__answer-input {
  margin-top: 1rem;
}

.closed-question-tool__answer-tag {
  box-sizing: border-box;
  margin: 0 8px 8px 0;
  color: #000000d9;
  font-variant: tabular-nums;
  display: inline-block;
  height: auto;
  padding: 0 7px;
  font-size: 12px;
  line-height: 20px;
  white-space: nowrap;
  background: #fafafa;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  opacity: 1;
  transition: all 0.3s;
}

.closed-question-tool__answer-tag span {
  cursor: pointer;
  display: inline-block;
  color: inherit;
  font-style: normal;
  line-height: 0;
  text-align: center;
  text-transform: none;
  margin-left: 4px;
}

.closed-question-tool__answer-remove svg {
  vertical-align: -0.125em;
}

.closed-question-tool__answer-remove {
  cursor: pointer;
  color: #00000073;
}

.closed-question-tool__answer-wrapper {
  margin-top: 0.5rem;
}

.closed-question-tool__tooltip {
  position: relative;
  display: inline-block;
}

.closed-question-tool__tooltip .closed-question-tool__tooltipText {
  visibility: hidden;
  background-color: black;
  overflow-x: hidden;
  color: #fff;
  text-align: center;
  padding: 10px;
  border-radius: 6px;
  bottom: 100%;
  max-width: 1000px;
  height: 50px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  z-index: 1;
}

.closed-question-tool__tooltip:hover .closed-question-tool__tooltipText {
  visibility: visible;
  cursor: auto;
  color: #fff;
}
