.plugin-base__titleWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.plugin-base__text {
    cursor: default;
    user-select: none;
    font-size: 12px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.45);
}
